################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VisualStudioDemo/.vs/VisualStudioIDemo2018/v15
/VisualStudioDemo/Debug64
/VisualStudioDemo/x64/Debug
